{% extends 'base.html' %}

{% block content %}
<div style="color: aliceblue; text-align: center; margin-bottom: 20px">
  <h1>Ajouter un post...</h1>
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="container">
      <h2>Create a new post</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Champ pour le titre -->
        <div class="input-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" required />
        </div>

        <!-- Champ pour le contenu -->
        <div class="input-group">
          <label for="content">Content</label>
          <textarea rows="10" cols="100" name="content" id="content" required></textarea>
        </div>

        <!-- Champ pour télécharger la photo -->
        <div class="input-group">
          <label for="photo">Upload a photo</label>
          <input type="file" name="photo" id="photo" accept="image/*" />
        </div>

        <!-- Bouton pour soumettre le formulaire -->
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}