{% extends 'base.html' %}

{% block content %}
<div style="color: aliceblue; text-align: center; margin-bottom: 20px">
  <h1>Ajouter un post...</h1>
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="container">
      <h2>Create a new post</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Champ pour le titre -->
        <div class="input-group">
          <label for="title">Titre</label>
          <input type="text" name="title" id="title" placeholder="Titre de votre post" required />
        </div>

        <!-- Champ pour le contenu avec Markdown -->
        <div class="input-group">
          <label for="content">Contenu</label>
          <textarea rows="10" cols="100" name="content" id="content"
            placeholder="Rédigez votre post ici... Vous pouvez utiliser du Markdown." required
            style="opacity: 0;"> </textarea>
        </div>

        <!-- Champ pour télécharger la photo -->
        <div class="post-photo">
          <img src="{{ post.photos.image.url }}" alt="{{ post.photos.caption }}" style="max-width: 300px;">
        </div>

        <div class="input-group">
          <label for="photo">Télécharger une image</label>
          <input type="file" name="photo" id="photo" accept="image/*" />
        </div>
        <!-- Champ pour la légende de la photo -->
        <label for="caption">Caption</label>
        <input type="text" id="caption" name="caption" value="{{ post.photos.caption }}">

        <!-- Bouton pour soumettre le formulaire -->
        <button type="submit" class="btn btn-primary">Créer</button>
      </form>
    </div>

    <!-- Prévisualisation de l'image -->
    <script>
      document.getElementById("photo").addEventListener("change", function (event) {
        const [file] = this.files;
        if (file) {
          const preview = document.createElement("img");
          preview.src = URL.createObjectURL(file);
          preview.style.maxWidth = "300px";
          preview.style.marginTop = "10px";
          const container = this.parentNode;
          const existingPreview = container.querySelector("img");
          if (existingPreview) container.removeChild(existingPreview);
          container.appendChild(preview);
        }
      });
    </script>

    <!-- Activation de l'éditeur Markdown -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var simplemde = new SimpleMDE({ element: document.getElementById("content") });
      });
    </script>

  </div>
</div>
{% endblock %}