{% extends 'base.html' %}
{% load posts_extras %}
{% block content %}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h1>{{ posts.title }}</h1>
      <p>Posté par : {% get_post_display user=user %}</p>
      <p> {{ posts.created_at|get_posted_at_display }}</p>
      {% if posts.photo and posts.photo.image %}
      <img src="{{ posts.photo.image.url }}" alt="{{ posts.photo.caption }}" style="max-width: 100%;">
      {% endif %}
      <div class="content">
        <pre><code>{{ posts.content }}</code></pre>
      </div>
    </div>
  </div>
</div>

{% endblock %}